.banner-container {
  display: flex;
  border: 1px solid #ddd;
  padding: 0.25em;
  margin: 1em 1em 0.25em 1em;
  background-color: #f6f6f6;
}

.banner-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.invs-block {
  flex: 1;
}

.banner-list {
  flex: 1;
  column-count: 3;
  margin: 1em;
}

p,
h2 {
  text-align: center;
}

.banner-list a {
  margin: 0.25em;
}

/* Media Query */

@media only screen and (max-width: 700px) {
  .banner-container {
    flex-direction: column;
  }
  .banner-list {
    column-count: auto;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    border-top: 1px solid black;
  }
}
