* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 1px solid black;
}

.app {
  display: flex;
  flex-direction: column;
}

.header {
  min-height: 5em;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.main-body {
  flex-grow: 1;
  display: flex;
  height: 100vh;
}

.sidebar {
  flex-basis: 10%;
  min-width: 10em;
}

.grid {
  flex-grow: 1;
  flex-basis: 90%;
  height: 100%;
}

.footer {
  min-height: 10em;
}
